<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin users</title>
</head>
<body>

    <div class = "container">
        <h1>PROFILE INFORMATION</h1>
        <div class = "name">
            <h1>Name : {{ad_user[1]}}</h1>
        </div>
        <div class = "age">
            <h1>Age : {{ad_user[2]}}</h1>

        </div>
        <div class = "gender">
            <h1>Gender : {{ad_user[3]}}</h1>

        </div>
        <div class = "address">
            <h1>Address : {{ad_user[4]}}</h1>

        </div>
        <div class = "status">
            <h1>Status : {{ad_user[5]}}</h1>

        </div>
        <div class = "contact">
            <h1>Contact : {{ad_user[6]}}</h1>

        </div>
       

    </div>

    <a href="/logout">logout</a>


  
   
   
</body>
</html>