<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Registration</title>

</head>
<body>
        <h1> REGISTRATION</h1>
        <form action="/register" method="POST">
          <label>Name: </label><br>
          <input type="text" name="nm" placeholder="Name" required></p>

          <label>Age: </label><br>
          <input type="text" name="age" placeholder="Age" required></p>

          <label>Gender: </label><br>
          <input type="text" name="gen" placeholder="Gender" required></p>

          <label>Address: </label><br>
          <input type="text" name="add" placeholder="Address" required></p>
          
          <label>Status: </label><br>
          <input type="text" name="stat" placeholder="Status" required></p>

          <label>Contact No.: </label><br>
          <input type="text" name="cn" placeholder="Contact Number" required></p>

          <label>Work Position: </label><br>
          <input type="text" name="wk" placeholder=" Work Position" required></p>

          <label>Username </label><br>
          <input type="text" name="Username" placeholder="uname" required></p>

          <label>Password</label><br>
          <input type="text" name="Password" placeholder="Password" required></p>

          <label>Confirm Password</label><br>
          <input type="text" name="con_password" placeholder="Confirm Password" required></p>

          

    
          <input type="submit" value="Submit">
          <input type="reset" value="Reset">

        </form>
      
    
</body>
</html>